<div fxLayout="column" fxLayoutGap="20px">
    <table mat-table style="width: 100%;" [dataSource]="dataSource">
        <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef [style.width.px]="120">
                <button mat-icon-button matTooltip="Criar" (click)="criar()" style="position: relative; left: 21px;">
                    <mat-icon style="color: green;">add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let contato" [style.width.px]="120">
                <button mat-icon-button matTooltip="Editar" (click)="editar(contato)">
                    <mat-icon style="color: var(--primary)">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Deletar" (click)="deletar(contato)">
                    <mat-icon style="color: red">delete</mat-icon>
                </button>
            </td>
          </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let contato">
            <span [matTooltip]="contato.id">{{contato.id}}</span>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let contato">
            <span [matTooltip]="contato.nome">{{contato.nome}}</span>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef> Endereço </th>
          <td mat-cell *matCellDef="let contato">
            <span [matTooltip]="contato.endereco"> {{contato.endereco}}</span>
           </td>
        </ng-container>
      
        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef> Telefone </th>
          <td mat-cell *matCellDef="let contato">
            <span [matTooltip]="contato.telefone">{{contato.telefone}}</span>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="colunasNomes"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasNomes;"></tr>
      </table>
</div>
