/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    --primary: #1d4279;
}

.titulo-modal {
    font-size: 30px;
    font-weight: 500;
}

mat-form-field {
    position: relative;
    margin-bottom: 20px;
    left: 75px;
    width: 300px;
}